* {
  margin: 0;
  padding: 0;
  /* font-family: "Poppins" sans-serif; */
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
}

body {
  /* background-color: #222;
   */
  background: linear-gradient(
    90deg,
    rgba(164, 199, 79, 1) 0%,
    rgba(56, 186, 173, 1) 100%
  );
  margin: 0;
}

@media only screen and (max-width: 360px) and (max-height: 640px) {
  body {
    height: 90vh;
  }

  .card {
    margin: 30px auto 0 !important;
    padding: 60px 20px 80px 20px !important;
  }
  .search input {
    padding: 10px 12px !important;
  }
  .col img {
    width: 33px !important;
  }
  h1 {
    font-size: 35px !important;
  }
  .weatherIcon {
    width: 170px !important;
    height: 170px !important;
    margin-top: 15px !important;
  }
  .humidity,
  .wind {
    font-size: 15px !important;
  }
  .details {
    margin-top: 50px !important;
  }
}

.card {
  width: 90%;
  height: 85vh;
  max-width: 580px;
  /* background: linear-gradient(
    90deg,
    rgba(164, 199, 79, 1) 0%,
    rgba(56, 186, 173, 1) 100%
  ); */

  color: #fff;
  margin: 30px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.search input {
  border: 0;
  outline: 0;
  flex: 1;
  background-color: rgb(207, 243, 255);
  padding: 10px 25px;
  border-radius: 20px;
  height: 60px;
  margin-right: 16px;
}

.search button {
  background-color: rgb(207, 243, 255);
  border: 0;
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.search button img {
  width: 19px;
}

h1 {
  font-size: 60px;
  font-weight: bold;
}

.details {
  margin-top: 35px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.col {
  display: flex;
  align-items: center;
  text-align: left;
  gap: 15px;
}

.col img {
  width: 50px;
}

.humidity,
.wind {
  font-size: 22px;
}

.weatherIcon {
  width: 224px;
  height: 224px;
}

.error {
  text-align: left;
  margin-left: 20px;
  margin-top: 10px;
  display: none;
}
